div(class="header")
    nav(class="menu")
        ul
            li: a(href='/') Список картин
            li: a(href='/players') Список участников
            li: a(href='/ASettings') Настройки аукциона

