
div(class="header")
    nav(class="menu")
        ul(class="hr")
            li: a(href='/main' class='disable' id="dfg") Главная
            li: a(href='/auction' class='disable') Аукцион
            li: a(href='/players' class='disable') Участники


