extends layout

block content
  h1(id="titleIn")= title
  img(src="../images/bookshelf.png", alt="bookshelf", id="imgIn")
  form(action="/library" method="GET")
    button(type="Submit", id="IN") Войти



